{% extends "base.html" %}

{% load leaflet_tags %}

{% block content %}
	{% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {

            var dataurl = '{% url "meals:geodata" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });

        }
    </script>
    <h1>{{ object.name }}</h1>
    <h3> Hosted by: {% for host in object.hosted_by.all %} {{host}} {% endfor %}  </h3>
    <h3> Confirmed Guests: {% for guest in object.attended_by.all %} {{guest}} {% endfor %}  </h3>
    <h3> Invited Guests: {% for gues in object.invited.all %} {{guest}} {% endfor %}  </h3>
    <a href="{% url 'meals:meal_list' %}">List</a>
{% endblock %}
