{% extends "base.html" %}

{% load leaflet_tags %}

{% block content %}
    <h1>Upcoming Meals</h1>
    <a href="{% url 'meals:meal_create' %}">Create</a>
    <ul>
        {% for object in object_list %}
            <li>
                {{ object }}
                <a href="{{ object.get_absolute_url }}">Details</a>
                <a href="{% url 'meals:meal_update' object.pk %}">Update</a>
                <a href="{% url 'meals:meal_delete' object.pk %}">Delete</a>
            </li>
        {% empty %}
                <p>No items.</p>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'meals:meal_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'meals:meal_list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {

            var dataurl = '{% url "meals:geodata" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });

        }
    </script>


{% endblock %}
