{% extends "base.html" %}

{% load crispy_forms_tags leaflet_tags %}

{% block content %}
	{% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <h1>{% block header %}Create/Update {% endblock %}</h1>
	            <form class="form-horizontal" method="post" action=".">
	                {% csrf_token %}
	                {{ form|crispy }}
	                <div class="control-group">
	                  <div class="controls">
	                    <button type="submit" class="btn">Submit</button>
	                  </div>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
{% endblock %}
